<head>
    <title>ViewPost</title>
    <script defer src="/public/js/viewpost.js"></script>
</head>
<body>
    <div class="post-video">
        <div class="video">
            <video width="600" height="420" controls><source src='/{{currentPost.video}}' type="video/mp4"></video>
        </div>
        <div class="video-title">
            <h2>{{currentPost.title}}</h2>
        </div>
        <div class="video-author">
            <div>
                <img id="photo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/510px-Default_pfp.svg.png?20220226140232"width="100px" height="100px" alt="">
                <h3>{{currentPost.username}}</h3>
            </div>
            <h>Description: 
                {{currentPost.description}}</h>
            <p>
                {{formatDateString currentPost.createdAT}}
            </p>   
        </div> 
        <div class="comment-section" id="comments">
            <h3>
                Comment Section
            </h3>
            <div class="input-group">
                <label for="comment_box">Comment</label>
                <textarea class="input-text" type="text" name="commentInput" id="comment-text" placeholder="Add a comment..."></textarea>
                <div class="button-group">
                    <input id="comment-button" data-postid="{{currentPost.id}}"  class="submit-button comment-button" type="submit" value="Comment">
                 </div>
            </div>
            {{#each currentPost.comments}}
            <div class="comment-post">
                <div>
                    <img id="photo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/510px-Default_pfp.svg.png?20220226140232"width="100px" height="100px" alt="">
                    <a href="profile">{{this.username}}</a>
                    <span>{{formatDateString this.createdAT}}</span>
                </div>
                <p>
                    {{this.text}}
                </p>
            </div>
            {{/each}}
        </div>
    <div class="video-suggested">
        <h3>Other Videos by {{currentPost.username}}</h3>
        {{#each posts}}
        <div class="thumbnail">
             <img id="photo" src="/{{this.thumbnail}}"width="100px" height="100px" alt="">
            <a href="/posts/{{this.id}}">{{this.title}}</a>
            
        </div>
        {{/each}}

    </div>
   
    </div>
</body>
 
</html>
