<head>
    <title>ViewPost</title>
</head>
<body>
    <div class="post-video">
        <div class="video">
            <video width="600" height="420" controls><source src='/{{currentPost.video}}' type="video/mp4"></video>
        </div>
        <div class="video-title">
            <h2>{{currentPost.title}}</h2>
        </div>
        <div class="video-author">
            <div>
                <img id="photo" src="https://i.imgur.com/zvaBM9j.png"width="100px" height="100px" alt="">
                <a href="profile">{{currentPost.username}}</a>
            </div>
            <h>Description: 
                {{currentPost.description}}</h>
            <p>
                {{currentPost.createdAT}}
            </p>   
        </div> 
        <div class="comment-section">
            <h3>
                Comment Section
            </h3>
            <div class="input-group">
                <label for="comment_box">Comment</label>
                <textarea class="input-text" type="text" name="commentInput" id="comment_box" placeholder="Add a comment..."></textarea>
                <div class="button-group">
                    <input  class="submit-button comment-button" type="submit" value="Comment">
                 </div>
            </div>
            <div class="comment-post">
                <div>
                    <img id="photo" src="https://i.imgur.com/zvaBM9j.png"width="100px" height="100px" alt="">
                    <a href="profile">Duck Owner</a>
                </div>
                <p>
                    subscribe for duck giveaway
                </p>
            </div>
            <div class="comment-post">
                <div>
                    <img id="photo" src="https://i.imgur.com/Lr5503O.jpg"width="100px" height="100px" alt="">
                    <a href="profile">Duck Hater</a>
                </div>
                <p>
                    eat the duck
                </p>
            </div>
        </div>
    <div class="video-suggested">
        <h3>Suggested Videos</h3>
        <div class="thumbnail">
            <img id="photo" src="https://i.imgur.com/DjiyUdR.jpg"width="100px" height="100px" alt="">
            <a href="/">Don't go to denny's at 3am</a>
        </div>
        <div class="thumbnail">
            <img id="photo" src="https://i.imgur.com/8vWy7Kh.jpg"width="100px" height="100px" alt="">
            <a href="/">Serial killer post on social media after escape</a>
        </div>
        <div class="thumbnail">
            <img id="photo" src="https://i.imgur.com/ag0qmlI.jpg" width="100px" height="100px" alt="">
            <a href="/">Oregon mafia run protection racket</a>
        </div>

    </div>
    </div>
</body>
</html>